@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap");

:root {
  --white: #ffffff;
  --yellow: #ebe2bc;
  --green: #0d3d41;
  --dark: #1a1423;
  --red: #6d0b13;
  --violet: #241c26;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  font-family: "Rubik Mono One", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  height: -webkit-fill-available;
  background-color: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
  text-shadow: 0 1px var(--white);
}

h3 {
  font-size: 1.5rem;
}

img {
  pointer-events: none;
}

section {
  z-index: 1;
}

.z-1 {
  z-index: -1;
}

.bg-black {
  background: black;
}

.bg-gray {
  background: #5a5b5b;
}

.bg-red {
  background: red;
}

.bg-yellow {
  background: #fbde48;
}

.text-red {
  color: red;
}

.bg-orange {
  background: #fe8a27;
}

.bg-blue {
  background: #05fefe;
}

.bg-white {
  background: white;
}

.text-yellow {
  color: #fbde48;
}

.text-white {
  color: white;
}

.text-blue {
  color: #05fefe;
}

.text-green {
  color: #69e54a;
}

.darker {
  filter: brightness(0.6);
}

@media (max-width: 762px) {
  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 0.8rem;
  }
}
