.main_body {
  background-color: #1a1423;
}

.title_section {
  height: 70vh;
  position: relative;
}

.blendMode {
  mix-blend-mode: hard-light !important;
}

.overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #04211e;
}

.job_section {
  flex: 1;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  margin: 10px;
}

.job_section:hover,
.job_section:active,
.job_section:focus {
  box-shadow: 0px 1px 30px #1a1423;
  z-index: 1000;
  cursor: pointer;
}

.job_section .enter {
  position: absolute !important;
  top: 4vh;
  right: 4vw;
}

.top_text {
  position: absolute;
  top: 4vh;
  left: 4vw;
  z-index: 1000;
}

.center_text {
  position: absolute;
  max-width: 60vw;
  z-index: 1000;
}

.bottom_text {
  position: absolute;
  bottom: 4vh;
  right: 0vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
}

.top_text > *,
.center_text > *,
.bottom_text > * {
  padding: 1rem 1.3rem;
}

.burgerMenu {
  position: fixed;
  top: 4vh;
  left: 4vw;
  z-index: 1001;

  width: 60px;
  height: 60px;
  /* border-radius: 100%; */

  display: flex;
  align-items: center;
  justify-content: center;

  background: black;
  border: 1px solid white;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 0px;

  cursor: pointer;
}

.burgerMenu > svg {
  width: 50%;
  height: 50%;
}

@media (max-width: 762px) {
  .burgerMenu {
    width: 48px;
    height: 48px;
    top: 1rem;
    left: 1rem;
  }

  .job_section {
    height: 70vh;
    max-height: 600px;
  }

  .center_text {
    top: 16vh;
    left: 4vw;
  }

  .bottom_text {
    left: 4vw;
    right: auto;
    align-items: flex-start;
  }

  .top_text > *,
  .center_text > *,
  .bottom_text > * {
    padding: 0.1rem 0.3rem;
  }
}
