.jobPage {
  display: grid;
  grid-template-rows: 90px auto 90px;
  justify-items: stretch;

  min-height: 100vh;
  height: -webkit-fill-available;

  width: 100vw;
  overflow: hidden;

  background-color: white;
}

.portfolioHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px;
  border-bottom: 3px solid var(--dark);
}

.portfolioTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.portfolioHeader h1 {
  font-size: 1.2rem;
  margin-left: 10px;
}

.portfolioHeader img {
  width: 120px;
}

.portfolioBody {
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;

  width: 100vw;

  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* background-color: gold; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.portfolioBody::-webkit-scrollbar {
  display: none;
}

.portfolioContent {
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  position: relative;
}

.errorSign {
  margin: auto;
  text-align: center;
}

.errorSign > img {
  width: 60px;
  height: 60px;
}

.errorSign > p {
  font-size: 12px;
  text-align: center;
}

.portfolioContentImage {
  width: 100vw;
  flex: 1;
  position: relative;
}

.portfolioContentImage > div {
  margin-right: 15vw !important;
  margin-left: 15vw !important;
}

.portfolioContentImage {
  background-image: url("/images/loader.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.portfolioContentDescription {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

.portfolioFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px;
  border-top: 3px solid var(--dark);
}

@media (max-width: 762px) {
  .jobPage {
    grid-template-rows: 60px auto 60px;
  }

  .portfolioContentImage > div {
    margin-right: 16px !important;
    margin-left: 16px !important;
  }

  .portfolioHeader,
  .portfolioFooter {
    padding: 10px;
  }

  .portfolioHeader h1 {
    font-size: 0.8rem;
    margin-right: 10px;
  }

  .portfolioHeader img {
    width: 60px;
  }
}
