.job_page {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 3px solid var(--dark);
}

.portfolio_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.portfolio_header h1 {
  font-size: 1.2rem;
  margin-left: 10px;
}

.portfolio_header img {
  width: 120px;
}

.portfolio_body {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  /* scroll-snap-stop: always; */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: white;
}

.portfolio_content {
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  position: relative;
}

.portfolio_content_image {
  width: 90vw;
  flex: 1 0 100%;
}

.portfolio_content_image > div {
  margin-right: 15vw !important;
  margin-left: 15vw !important;
}

@media (max-width: 762px) {
  .portfolio_content_image > div {
    margin-right: 6px !important;
    margin-left: 6px !important;
  }

  .portfolio_header {
    padding: 10px;
  }

  .portfolio_header h1 {
    font-size: 0.8rem;
    margin-right: 10px;
  }

  .portfolio_header img {
    width: 60px;
  }
}
